body {
    background: white;
    color: black;
    font-family: 'Open Sans', sans-serif;
    margin: 40px auto;
    max-width: 720px;
    padding: 0 40px;
}

h1 {
    font-size: 2.5em;
    font-weight: 300;
    text-align: center;
}

.mask {
    border: 1px dashed gray;
    /*position: relative;*/
    /*overflow: hidden;*/
    /*margin: 0px auto;*/
    /*width: 100%;*/
}

.header {
    float: left;
    width: 100%;
}

.centered {
    margin: auto;
}

#imagePreview img {
    max-height: 10em;
    /*max-width: 50%;*/
}

#radioAndInputControls {
    display: flex;
    flex-direction: column;
}

#inputAndControls {

}

#textInput {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    min-height: 20em;
}

.spacer {
    flex-grow: 100;
}

#controls {
    /*padding: 20px;*/
    display: flex;
    flex-direction: column;
}

#controls > button {
    width: 100%;
    font-size: 200%;
}


#output {
    padding-top: 10px;
    font-family: monospace, Monospaced;
    white-space: pre;
}

textarea {
    flex-grow: 100;
}

.horizontal-container {
    display: flex;
    gap: 15px;
    align-items: stretch;
    justify-content: space-between;
}

.vertical-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;


}

.image img {
    display: block;
    max-width: 100%;

}

.color {
    padding: 0 0 0 20px;
}

.color ul {
    margin: 0;
    padding: 10px;
    list-style-type: none;
    text-align: center;
}

.box {
    height: 80px;
}

#footer {
    margin: 40px 0;
    text-align: center;
}

/*.clearfix::after {*/
/*    content: "";*/
/*    clear: both;*/
/*    display: table;*/
/*}*/
