body {
    background: white;
    color: black;
    font-family: 'Open Sans', sans-serif;
    margin: 40px auto;
    max-width: 720px;
    padding: 0 40px;
}


h1 {
    font-size: 2.5em;
    font-weight: 300;
    text-align: center;
}

.header {
    float: left;
    width: 100%;
}

.centered {
    margin: auto;
}

.table {
    display: table;
}

.table > div {
    display: table-row;
}

.table > div > label {
    display: table-cell;
}

.table > div > input {
    display: table-cell;
}

#imagePreview img {
    max-height: 10em;
    /*max-width: 50%;*/
}

#radioAndInputControls {

}

#inputAndControls {
    /*max-width: 300px;*/
}

#textInput {
    flex-grow: 100;
    min-height: 20em;
    min-width: 30em;
}

.spacer {
    flex-grow: 100;
}

#controls {
    display: flex;
    flex-direction: column;

}

#controls > button {
    margin-top: 10px;
    width: 100%;
    font-size: 200%;
}


#output {
    padding-top: 10px;
    font-family: monospace, Monospaced;
    white-space: pre;
}

textarea {
}

.horizontal-container {
    display: flex;
    gap: 15px;
    align-items: stretch;
    justify-content: space-between;
}

.wrap {
    flex-wrap: wrap;
}


.vertical-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;


}

.image img {
    display: block;
    max-width: 100%;

}

.color {
    padding: 0 0 0 20px;
}

.color ul {
    margin: 0;
    padding: 10px;
    list-style-type: none;
    text-align: center;
}

.box {
    height: 80px;
}

#footer {
    margin: 40px 0;
    text-align: center;
}

/*.clearfix::after {*/
/*    content: "";*/
/*    clear: both;*/
/*    display: table;*/
/*}*/
